@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Explora&family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");
.main {
  background-color: pink;
  border: 3px solid rgb(21, 122, 122);
  margin: 40px;
  font-family: "Instrument Serif", serif;
  font-size: 20px;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  text-decoration: underline;
  padding: 12px;
  font-family: "Sacramento", cursive;
}
.buttons1 {
  background-color: aqua;
  padding: 6px;
}
.hum {
  font-weight: 600;
  font-size: 22px;
  color: rgb(21, 122, 122);
}
h3,
h2 {
  color: rgb(21, 122, 122);
}
.temp {
  color: rgb(241, 9, 125);
  font-size: 60px;
  font-weight: 550;
}
.humdata {
  color: rgb(241, 9, 125);
  font-size: 24px;
  font-weight: 600;
}
form {
  display: block;
  margin: 0 auto;
}
form {
  display: flex;
  justify-content: center;
}
