.main {
  background-color: pink;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 100px;
}
h1 {
  text-align: center;
  text-decoration: underline;
  padding: 12px;
}
.buttons1 {
  background-color: hotpink;
  padding: 6px;
}
.buttons2 {
  background-color: aqua;
  padding: 6px;
}
